$primary-color: #3058A6;
$sub-primary-color:#3963B5;
$secondary-color:#656768;
$text-primary-color:#656768;
//contrario de los colores default
$sub-text-primary-color:#F1F1F1;
//color de los iconos
$icon-color-primary:#525253;
$icon-color-primary-active:#3058A6;

$color-header:#464646;
