.header-img {
  display: none;
  justify-content: center;
  align-items: center;
}

.header-img img {
  width: 100%;
  height: auto;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-text h2 {
  font-weight: bold;
  font-size: 45px;
  color: #3058A6;
}

.header-text h3 {
  font-size: 25px;
  color: #656768;
}

.btn {
  border: 5px solid;
  border-radius: 20px;
}

.btn-contact {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border-color: #3058A6;
  color: #3058A6;
  display: inline-block;
  font-size: 1.25em;
  margin-left: 10px;
  padding: 5px 0;
  text-align: center;
}

.btn-contact i {
  color: #3058A6;
}

.btn-contact:hover {
  background-color: #3058A6;
}

.btn-contact:hover i {
  color: white;
}

.btn.outliner-primary {
  background: none;
  color: #3058A6;
  border-radius: 25px;
  border: 5px solid #3058A6;
}

.content-section.bg-light .content-section-heading .text-name-section {
  color: #3058A6;
  font-weight: bold;
}

.content-section.bg-light .content-section-heading hr {
  height: 5px;
  justify-content: center;
  background-color: #3058A6;
  width: 5rem;
  margin: auto;
}

.content-section.bg-light h2 {
  color: #3058A6 !important;
}

.content-section.bg-light h3,
.content-section.bg-light h5 {
  color: #656768;
}

.content-section.bg-light p {
  color: #656768;
  text-space: 35px;
  text-align: justify;
  font-size: 18px;
}

.content-section.bg-light span {
  color: #3058A6;
  font-weight: bold;
}

.description-content {
  position: relative;
  margin: auto;
  text-align: center;
  justify-content: center;
  max-width: 60%;
}

.content-section.bg-blue {
  background-color: #3058A6;
}

.content-section.bg-blue .content-section-heading .text-name-section {
  color: #F1F1F1;
  font-weight: bold;
}

.content-section.bg-blue .content-section-heading hr {
  height: 5px;
  justify-content: center;
  background-color: #F1F1F1;
  width: 5rem;
  margin: auto;
}

.content-section.bg-blue h2,
.content-section.bg-blue h4,
.content-section.bg-blue h5 {
  color: #F1F1F1 !important;
}

.content-section.bg-blue p {
  color: #656768;
  text-space: 35px;
  text-align: justify;
  font-size: 18px;
}

.content-section.bg-blue span {
  color: #3058A6;
  font-weight: bold;
}

.content-section.bg-blue input {
  background-color: #3963B5 !important;
  color: #F1F1F1 !important;
  border: none;
  height: 4rem;
  border-radius: 10px;
}

.content-section.bg-blue textarea {
  background-color: #3963B5;
  color: #F1F1F1 !important;
  border: none;
  border-radius: 10px;
  height: 8rem;
}

.content-section.bg-blue input::-moz-placeholder, .content-section.bg-blue textarea::-moz-placeholder {
  color: #F1F1F1 !important;
  background-color: #3963B5 !important;
}

.content-section.bg-blue input:-ms-input-placeholder, .content-section.bg-blue textarea:-ms-input-placeholder {
  color: #F1F1F1 !important;
  background-color: #3963B5 !important;
}

.content-section.bg-blue input::placeholder,
.content-section.bg-blue textarea::placeholder {
  color: #F1F1F1 !important;
  background-color: #3963B5 !important;
}

.item-column {
  background-color: #3963B5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.item-column .item-head {
  background-color: #3963B5;
  color: #3963B5;
  justify-content: center;
}

.item-column .item-content {
  margin: 2rem 2rem 1rem 1rem;
}

.item-column .item-content p,
.item-column .item-content h5 {
  color: #F1F1F1;
}

.footer {
  background-color: #464646;
  color: white;
}

.footer .btn-contact {
  border-color: white;
  color: white;
}

.footer .btn-contact i {
  color: white;
}

.footer .btn-contact:hover {
  background-color: #3058A6;
  border-color: #3058A6;
}

.footer .btn-contact:hover i {
  color: white;
}

@media only screen and (min-width: 768px) {
  .header-img {
    display: flex;
  }
}

.modal-jobs .modal-header {
  border-radius: 30px 30px 0 0;
  background: none;
}

.modal-jobs .modal-header .modal-title {
  color: #F1F1F1 !important;
}

.modal-jobs .modal-header .btn-close {
  color: #F1F1F1 !important;
}

.modal-jobs .float-text-center {
  justify-content: center;
  color: white !important;
  font-size: 2.5em;
  position: relative;
}

.modal-jobs .modal-header::before {
  border-radius: 30px 30px 0 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  border: none;
  border-radius: 30px;
}

.text-content {
  font-size: 0.85em !important;
}

.btn-close-modal {
  color: white !important;
  background: none !important;
  position: absolute !important;
  border-radius: 30px;
  width: 2.5rem;
  height: 2.5rem;
  right: 1rem;
  top: 1rem;
  border: 3px solid white;
}

.btn-close-modal:hover {
  color: black !important;
  border-color: black !important;
  background: white !important;
}

.outline-badge {
  color: #656768 !important;
  border: 2px solid #656768;
}

.nav-link.active {
  border: 2px solid #3058A6;
  border-radius: 10px;
  color: white !important;
  background-color: #3058A6 !important;
}

.navbar {
  height: 4.5rem;
  margin-top: 0.5rem;
  color: white !important;
}

.navbar.shadow {
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar-collapse.show {
    z-index: 21;
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 10px;
    width: 21rem;
    position: absolute;
    top: 5rem;
  }

  .nav-link {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .nav-text {
    margin-left: 2rem;
  }
}

